// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";
$blueprint: rgb(102,102,204);

#tablewaitermap {
}

#main {
  background: $blueprint;
  color: $gray-lighter;
  canvas {
    width: 100%;
    overflow-y: hidden;
  }
}

#top {
  height: 70%;
  overflow-y: hidden;
  overflow-x: hidden;

}

#bottom {
  height: 30%;
  overflow: auto;
}

tr:nth-child(even) {
  background: $gray-lighter
}