// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";

.header {
  
}

div[class^="col"] {
  height: 100%;
}

form {
    position: relative;
    float: right;
    margin-top: $line-height-computed;
}


