@import "bootstrap/variables";
@import "colors";

#offduty {
height: 70%;
overflow-y: scroll;
}

.working {
	background-color: $green;
    	color: white;
    	font-weight: bolder;
}

.highlightedworking {
	background-color: $lightgreen;
}
