@import "bootstrap/variables";
@import "colors";

h2 {
	
}

#offduty {
height: 100%;
overflow-y: auto;
}

.working {
	background-color: $green;
    	color: white;
    	font-weight: bolder;
}

.highlightedworking {
	background-color: $lightgreen;
}
