= button_to "Arrive Party",{ :action => edit_table_path, :remote=>"true", :controller=>"table"}, {:method=>:get, :form_class=>"btn btn-success"}
%h2 Notification Area
%hr -#I'd really like to replace this with CSS at some point...
%p notifications