= button_to "Arrive Party", {action: 'new' , remote: "true", controller: "party"}, {:method=>:get, :form_class=>"btn btn-success"}
%h2 Notification Area
%hr -#I'd really like to replace this with CSS at some point...
%p notifications