= button_to "Arrive Party", {:action => 'create' , :controller => "party"}, {:remote => true, :form => { "data-type" => "html" }, :method => :post,}
%h2 Notification Area
%ul#notifications{:class=> "list-unstyled"}