h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1em;
}

body {
	font-size: 1.5em;
	font-weight: bold;
}

div {
	padding: .2em;
}

label {
	float: left;
	width: 15em;
	text-align: left;
}

input {
	font-size: 1em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* Remove number spinner icons for Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.match {
	float: left;
	width: 15em;
}

.red {
	color: red;
	margin: 0;
	font-weight: bolder;
}

.fullwidth {
	width: auto;
	float: none;
}