body {
	font-size: 1.5em;
}
td {
	border: solid;
	text-align: center;
	width: 20px;
}
#calculator {
	border: 10px;
	border-style: solid;
	width: 150px;
}
#result {
	background-color: #808080;
	overflow: hidden;
}
#reset {
	background-color: #CCFFFF;
}
#equals {
	background-color: #FFF8DC;
}