%table
  %thead
    %tr{:colspan => 4,:rowspan => 2}
      %h2.text-align Status
    %tr
      %td{:colspan => 3} Tables Occupied
      %td 5
    %tr
      %td{:colspan => 3} Bank Account
      %td 5
    %tr
      %td{:colspan => 3} Customers Served
      %td 5