%table{:class => "table table-striped"}
  %thead
    %tr{:colspan => 4,:rowspan => 2}
      %h2 Status
    %tr
      %td{:colspan => 3} Tables Occupied
      %td= Restaurant.first.tables.count('occupied')
    %tr
      %td{:colspan => 3} Bank Account
      %td= Restaurant.first.cash_on_hand
    %tr
      %td{:colspan => 3} Customers Served
      %td= Restaurant.first.customers_served