%h2.text-center TABLES
.floorplan
 %canvas#canvas
  -#=draw_table Table::TABLE_FOR_TWO % [100, 100] 
  -#TODO Figure out a way to make this responsive
  -#=draw_table Table::TABLE_FOR_TWO % [250, 250]