.row-fluid
  .span4#tablewaitermap
    = render 'waiters/onduty'
  .span8#main
    %h2.text-center TABLES
    %canvas
.row-fluid
  .span5#notification
    %h2 Notification Area
    %p notifications
  .span2#waiters
    %h2 Waiters
    %p list of waiters
  .span5#status
    = render 'status'
