.row-
  .col-md-4#tablewaitermap
    = render 'waiters/onduty'
  .col-md-8#main
    %h2.text-center TABLES
    %canvas
.row-fluid
  .col-md-5#notification
    %h2 Notification Area
    %p notifications
  .col-md-2#waiters
    %h2 Waiters
    %p list of waiters
  .col-md-#status
    = render 'status'