%div#full
  .row-fluid#top
    .col-xs-2#tablewaitermap
      = render 'waiter/onduty'
    .col-xs-10#main
      = render 'tables'
  .row-fluid#bottom
    .col-xs-5#notification
      %h2 Notification Area
      %p notifications
    .col-xs-2#waiters
      = render 'waiter/offduty'
    .col-xs-5#status
      = render 'status'