.row-fluid
 .col-xs-7
  %span{:class => "label label-primary"} A party has arrived
  %span{:class => "g.glyphicon .glyphicon-exclamation-sign"}
 .col-xs-5
  %button{:class => "btn btn-danger"} Seat them