@font-face {	font-family: TrajanPro;	src: url(TrajanPro-Regular.ttf)}body {	font-size: 1.25em;}h3 {	margin: 0;
	padding: 0;
}

header {	font-family: TrajanPro;	margin: 3px;
	padding: 0;
}

h4 {
	font-style:italic;
	margin: 0;
	padding: 0;}table {	padding: 3px;}

td {
	vertical-align: text-top;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;}

hr.invis {
	visibility: hidden;
}

.rs {	float: right;	vertical-align: top;}

#address, #email, #phone {
	display: inline;	font-size: 1.5em;}#name {	display: inline;	font-size: 3em;}

#left-column {
	width:40%;
}

